<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <th:block th:replace="~{fragments/menu::menuFragment}"></th:block>
  <form method="post" action="/score2">
    이름 : <input type="text" name="name"> <br>
    국어 : <input type="number" name="korean"> <br>
    영어 : <input type="number" name="english"> <br>
    수학 : <input type="number" name="math"> <br>
    <button type="submit">입력 완료</button>
  </form>
</body>
</html>