<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.study.MyBatisPrj.DAO.TodoDAO">
    <insert id="insert" parameterType="kr.hs.study.MyBatisPrj.DTO.todoDTO">
        insert into todo(idx, content, password) values(todo_seq.nextVal, #{content}, #{password})
    </insert>
    <select id="listAll" resultType="kr.hs.study.MyBatisPrj.DTO.todoDTO">
        select * from todo order by idx desc
    </select>
</mapper>