<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.study.Board.DAO.commentDAO">
    <insert id="insert" parameterType="kr.hs.study.Board.DTO.commentDTO">
        insert into comment1(id, commentWriter, commentContents, boardId) values(comment1_seq.nextVal, #{commentWriter}, #{commentContents}, #{boardId})
    </insert>
    <select id="listAll" resultType="kr.hs.study.Board.DTO.commentDTO">
        select * from comment1 where boardId=#{boardId} order by id desc
    </select>
</mapper>