<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
  <tr>
    <td th:text="'순번'"></td>
    <td th:text="'이름'"></td>
    <td th:text="'가격'"></td>
    <td th:text="'제조사'"></td>
    <td th:text="'비고'"></td>
  </tr>
    <th:each item:{data}></th:each>
    <tr>
        <td th:text="{item.id}"></td>
        <td th:text="{item.name}"></td>
        <td th:text="{item.price}"></td>
        <td th:text="{item.company}"></td>
        <td>
            <a th:href="@{/edit/id}">수정</a>
            <a th:href="@{/delete/id}">삭제</a>
        </td>
    </tr>
</table>
<h2 th:text="상품검색"></h2>
<form method="post" action="/search">
    <input type="search" name="sname">
    <button type="submit">검색</button>
</form>
<a th:href="@{/insert}">상품추가하기</a>
</body>
</html>