<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="o1" class="kr.hs.study.bean.Owner">
        <constructor-arg value="Jamie" type="String"/>
        <constructor-arg value="경기도 뉴욕시" type="String"/>
    </bean>
    <bean id="c1" class="kr.hs.study.bean.Cat">
        <constructor-arg value="gray" type="String"/>
        <constructor-arg value="4" type="int"/>
        <constructor-arg ref="o1"/>
    </bean>

    <bean id="o2" class="kr.hs.study.bean.Owner">
        <constructor-arg value="Suzie" type="String"/>
        <constructor-arg value="경기도 뉴욕시" type="String"/>
    </bean>
    <bean id="d1" class="kr.hs.study.bean.Dog">
        <constructor-arg value="gold" type="String"/>
        <constructor-arg value="4" type="int"/>
        <constructor-arg ref="o2"/>
    </bean>
</beans>